.addressPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}
.addressPage-main{
    display: flex;
    flex-direction: row;
    width: 1000px;
}
.addressPage-info{
    width: 820px;
    height: 1300px;

}
.addressPage-info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.addressPost-info-box{
    align-items: flex-start;
    margin: 10px 40px 10px 40px;

}
.addressPage-info-btn{
    width: 300px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
.addressPage-list{
    display: flex;
    flex-direction: column;
    width: 92%;
    background-color: #F8F8F8;
    padding: 20px 30px 20px 30px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.address-list-default {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    margin: 4px 0 0 0;
    color: #385AD6;
}

.address-add {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #9C9C9C;
    font-size: 30px;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    margin-top: 20px;

}
.address-addBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
