.searchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.searchCrumbBox {
    font-size: 16px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}

.searchCrumb {
    text-align: left;
}

.searchCrumb span {
    font-weight: bold;
}


.list-sortBox{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 1000px;
    justify-content: flex-start;
}
.list-sortBox-sort{
    font-size: 17px;
}
.list-sortBox-bar{
    width: 50px;
    height: 1px;
    background-color: black;
    margin: 13px 15px 0 15px;
}
.list-sortBox-sale,.list-sortBox-lowPrice,.list-sortBox-highPrice{
    font-size: 15px;
    margin-right: 10px;
}