.pageNav{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-top: 50px;
}
.pageNav-category{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.pageNav-category-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 18px 0;
    margin-right: 150px;
    font-size: 17px;
}