.review,.qna{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 820px;
}
.review-title{
    font-weight: bold;
    font-size: 22px;
    padding-top: 3px;
}

.review-text{
    font-weight: bold;
    font-size: 15px;
    color: #9E9E9E;
}
.review-box{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}
.review-subject{
    width: 820px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #585858;
    padding-left: 10px;
    justify-content: space-between;
}
.review-content{
    width: 820px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 1px solid #BBBBBB;
    background-color: white;
    padding-left: 10px;
    justify-content: space-between;
}
.review-content2{
    width: 820px;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 1px solid #BBBBBB;
    background-color: white;
    padding-left: 10px;
    justify-content: space-between;
    margin-top: 10px;
}
.review-subject-recommend{
    width: 110px;
}
.review-subject-delivery{
    width: 100px;
}
.review-subject-title{
    width: 300px;
}
.review-subject-author{
    width: 120px;
}
.review-subject-date{
    width: 180px;
}
.review-content-box-recommend{
    width: 60px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(56, 90, 214, 0.64);
    color: white;
    font-weight: 400;
    margin: auto;
}
.review-content-box-delivery{
    width: 60px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(214, 34, 39, 0.7);
    color: white;
    font-weight: 400;
    margin: auto;
}
.review-dropdown{
    width: 820px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    padding: 0px 70px 0px 70px;
    margin-bottom: 20px;
}
.review-dropdown-user{
    padding-top: 20px;
    height: 40px;
    text-align: left;
}
.review-dropdown-admin{
    display: flex;
    flex-direction: row;
    height: 50px;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
}
.review-dropdown-admin-text{
    margin: 17px 0 0 20px;
}
.review-button{
    width: 100px;
    height: 30px;
    margin-left: 700px;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    background: #000000;
    margin-bottom: 20px;
    padding-top: 2px;
}
.review-button2{
    width: 80px;
    height: 27px;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    background: #000000;
    padding-top: 2px;
    margin: 0px 0 0 17px;
    border-radius: 3px;
 }
.review-button3{
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    background: #000000;
    padding-top: 2px;
    margin: 10px 0 0 640px;
    border-radius: 3px;
}
.review-button4{
    width: 80px;
    height: 27px;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    background: #000000;
    padding-top: 2px;
    margin: 0px 0 0 50px;
    border-radius: 3px;
}


.review-button-modal{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    color: black;
    width: 700px;
    height: 550px;
}
.review-button-modal-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 7px;
}
.review-button-modal-box-subject{
    width: 150px;
    font-size: 17px;
}
.review-button-modal-box-input{
    width: 500px;
    text-align: left;
    align-self: flex-start;
    word-break: break-all;
    white-space:normal;
}
.review-button-modal-box-input2{
    width: 500px;
    height: 170px;
    text-align: left;
    align-self: flex-start;
    word-break: break-all;
    white-space:normal;

}
.review-button-modal-box-question{
    width: 500px;
    text-align: left;
    align-self: flex-start;
    word-break: break-all;
    white-space:normal;
    height: 120px;
}
.review-button-modal-box-check{
    margin: 10px 5px 0 10px;
}

.review-modal-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.review-modal-cancel{
    width: 120px;
    height: 35px;
    margin: 0 5px 0 5px;
    font-weight: bold;
}

.review-list {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #BBBBBB;
}

details {
    background: white;
}
details:not([open]) {
    height: 40px;

}
details[open] {
    height: 350px;
}
details > summary {
    list-style: none;
    padding: 10px;
    margin: 0;
    border-top: 1px solid #ddd;
    background: #f4f4f4;
    cursor: pointer;
    display: block;
}
details > summary::-webkit-details-marker {
    display: none;
}