@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.App {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}

a:link, a:visited, a:hover, a:focus, a:active{
  text-decoration : none;
  color : black;
  text-decoration-color: black;
}