/*admin, admin_edit, admin_post 공통 사용*/
.admin{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}
.admin-bar{
    width: 1000px;
    height: 2px;
    background: black;
}
.admin-title{
    display: flex;
    align-self: flex-start;
    margin: 10px 0 30px 0;
    font-weight: bold;
    font-size: 35px;
}
.admin-box{
    display: flex;
    flex-direction: row;
    width: 1000px;
}
/*admin -event, -notice*/
.admin-event{
    display: flex;
    flex-direction: column;
    width: 820px;
}
.admin-event-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #BBBBBB;
}
.admin-event-title-text{
    font-weight: bold;
    font-size: 25px;
}

.admin-event-title-recent{
    width: 85px;
    height: 30px;
    font-size: 14px;
    background: #9E9E9E;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}
.admin-event-title-recent:focus{
    border: 1px solid #000000;
}
.admin-event-title-submit{
    width: 87px;
    height: 32px;
    font-size: 15px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 5px;
    margin : auto 5px auto 15px;
}

.admin-event-table{
    display: flex;
    flex-direction: row;
    height: 50px;
    border-bottom: 1px solid #BBBBBB;

}
.admin-event-table-btnBox{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-event-table-check{
    margin-left: 20px;
}
.admin-event-table-content{
    width: 275px;
    margin-right: 50px;
    line-height: 50px;
    font-size: 15px;

}
.admin-event-table-term{
    width: 275px;
    line-height: 50px;
    font-size: 15px;
}
.admin-event-table-button{
    width: 100px;
    margin-left: 50px;
    line-height: 50px;
    font-size: 15px;
}
.admin-event-table-button-modify{
    width: 80px;
    height: 30px;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 5px;
}

.admin-event-button{
    margin-top: 50px;
}
.admin-event-button-before,.admin-event-button-now,.admin-event-button-after{
    width: 35px;
    height: 35px;
    font-size: 18px;
    border: 1px solid #DDDDDD;
}

.admin-searchBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 820px;
    height: 50px;
    margin-bottom: 10px;
}
.admin-searchBox-product{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 420px;
    height: 50px;
    margin-bottom: 10px;
}

.admin-searchBox-box{
    border: 0;
    height: 50px;
    border-bottom: 1px solid;
}
.admin-searchBox-img{
    margin: 15px 10px 0 10px;
    width: 30px;
}
/*admin-product*/
.admin-manage{
    display: flex;
    flex-direction: column;
    width: 820px;
}
.admin-manage-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}
.admin-manage-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 25px;
}
.admin-manage-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 3px 0;
}
.admin-manage-box-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
.admin-manage-box-item-img{
    width: 170px;
    height: 170px;
    background: #ECEBE8;
}
.admin-manage-box-item-title{
    font-size: 18px;
    line-height: 29px;
    color: #2A4478;
}
.admin-manage-box-item-sub{
    font-size: 12px;
    line-height: 19px;
    color: #525252;

}
.admin-manage-item-price{
    font-size: 12px;
    line-height: 19px;
}
.admin-product-item-imageBox{
    background-color: #ECEBE8;
    width: 200px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}
.admin-product-item-imageBox-img{
    height: 150px;
}

/*admin edit -event, notice*/

.admin-event-title-modify{
    width: 85px;
    height: 30px;
    font-size: 15px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    color: #8B8B8B;
    border-radius: 5px;
    margin : auto 0 auto auto;
}
.admin-event-title-modify:focus{
    border: 1px solid #BBBBBB;
    color: #585858;
}

.admin-event-title-delete{
    width: 85px;
    height: 30px;
    font-size: 15px;
    background: #FFFFFF;
    color: #8B8B8B;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin : auto 0 auto 7px;
}

.admin-event-title-delete:focus{
    border: 1px solid #BBBBBB;
    color: #585858;
}

.product-fieldBox{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 820px;
    height: 50px;
    padding: 10px 0 0 0 ;
    margin-bottom: 30px;
    justify-content: space-around;
    border-top : solid black 2px;
    border-bottom: solid black 2px;
}
.product-fieldBox div {
    cursor: pointer;
}


.page-num-box-admin-product{
    margin-top: -100px;
}