.My_Page{
    display: flex;
    flex-direction: column;
}
.My_Page_line{
    width: 1239px;
    height: 2px;
    background: #282c34;
    margin-left: 100px;
}
.My_page__title{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 90px 100px;
    font-weight: bold;
    font-size: 35px;

}

.My_page__main{
    display: flex;;
    flex-direction: row;
}