.couponPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}
.couponPage_line{
    width: 1000px;
    align-self: center;
    height: 2px;
    background: #282c34;
}
.couponPage_title{
    display: flex;
    align-self: flex-start;
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.couponPage_main{
    display: flex;
    flex-direction: row;
    width: 1000px;
}

.coupon{
    display: flex;
    flex-direction: column;
    width: 820px;
}
.couponTitle{
    display: flex;
    justify-self: flex-start;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.couponTheme{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 53px;
    align-items: center;
    border-top: 1.5px solid #BBBBBB;
    border-bottom: 1.5px solid #BBBBBB;
}
.couponThemeSeq{
    width:130px;
}
.couponThemeName{
    width:350px;
}
.couponThemePrice{
    width: 120px;
}
.couponThemeTerm{
    width: 250px;
}

.couponBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 55px;
    align-items: center;
    border-bottom: 1.5px solid #BBBBBB;
}
.couponBoxSeq{
    width:130px;
}
.couponBoxName{
    width:350px;
}
.couponBoxPrice{
    width: 120px;
}
.couponBoxTerm{
    width:250px;
}

.couponButton{
    display: flex;
    flex-direction: column;
}

.couponPaging{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.couponPagingBefore{
    height: 30px;
    width: 30px;
    border: 1px solid #DDDDDD;
}
.couponPagingThis{
    height: 30px;
    width: 30px;
    border: 1px solid #DDDDDD;
    font-size: 18px;
}
.couponPagingAfter{
    height: 30px;
    width: 30px;
    border: 1px solid #DDDDDD;
}