.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-fieldBox {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 1000px;
    height: 50px;
    padding: 10px 0 0 0 ;
    margin-bottom: 30px;
    justify-content: space-around;
    border-top : solid black 2px;
    border-bottom: solid black 2px;
}

.list-fieldBox div {
    cursor: pointer;
}

.list-sortBox{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 1000px;
    justify-content: flex-start;

}
.list-sortBox-sort{
    font-size: 17px;
    background-color: white;
}
.list-sortBox-bar{
    width: 50px;
    height: 1px;
    background-color: black;
    margin: 13px 15px 0 15px;
}
.list-sortBox-sale,.list-sortBox-lowPrice,.list-sortBox-highPrice{
    font-size: 15px;
    margin-right: 10px;
    background-color: white;
}

.list-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    flex-wrap: wrap;
}

.list-product-item {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 270px;
    align-items: flex-start;
    margin-bottom: 40px;
}

.list-product-item-title {
    width: 170px;
    font-size: 18px;
    color : #2A4478;
    text-align: left;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.list-product-item-sub {
    width: 170px;
    font-size: 12px;
    text-align: left;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.list-product-item-price {
    font-size: 15px;
}

.list-product-item-imageBox {
    background-color: #ECEBE8;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}
.list-product-item-imageBox-img{
    height: 150px;
}

.select {
    width: 150px;
    height: 10px;
    font-size: 15px;
}
