.wishlistPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}
.wishlistPage_line{
    width: 1000px;
    align-self: center;
    height: 2px;
    background: #282c34;
}
.wishlistPage_title{
    display: flex;
    align-self: flex-start;
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.wishlistPage_main{
    display: flex;
    flex-direction: row;
    width: 1000px;
}

.wishlist{
    display: flex;
    flex-direction: column;
    width: 820px;

}

.wishlist_theme{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 53px;
    align-items: center;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
}
.wishlist_theme_check{
    width: 100px;
}
.wishlist_theme_img{
    width :150px;

}
.wishlist_theme_title{
    width: 550px;
}
.wishlist_theme_price{
    width: 200px;
}

.wishlist_box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 90px;
    align-items: center;
    border-bottom: 1.5px solid #BBBBBB;
}
.wishlist_box_check{
    width: 100px;
}
.wishlist_box_img{
    width: 87px;
    margin: 0 31px 0 32px;

}
.wishlist_box_title{
    width: 550px;
}
.wishlist_box_price{
    width: 200px;
}

.wishlist_button{
    display: flex;
    flex-direction: column;
}
.wishlist_button_delete{
    width: 90px;
    height: 30px;
    background: #8B8B8B;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 50px;
}
.wishlist_paging{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wishlist_paging_before{
    height: 30px;
    width: 30px;
    border: 1px solid #DDDDDD;
}
.wishlist_paging_this{
    height: 30px;
    width: 30px;
    border: 1px solid #DDDDDD;
    font-size: 18px;
}
.wishlist_paging_after{
    height: 30px;
    width: 30px;
    border: 1px solid #DDDDDD;
}

.list-product-item-imageBox {
    background-color: #ECEBE8;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}
.list-product-item-imageBox-img{
    height: 50px;
}
