.noticePage{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
}
.noticePage-main{
    display: flex;
    flex-direction: column;
}
.noticePage-title{
    display: flex;
    align-self: flex-start;
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.noticePage-nav{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-top: 50px;
}
.noticePage-nav-side{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.noticePage-nav-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 18px 0;
    margin-right: 150px;
    font-size: 17px;
}
.noticePage-table{
    width: 820px;
}

.notice{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.notice-subject{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}
.notice-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 7px;
    margin: 0 0 7px 0;
    border-top: 1px solid #BBBBBB;
}
.notice-seq{
    width: 120px;
    padding-left: 30px;
}
.notice-title{
    width: 400px;
    padding-left: 30px;
}
.notice-date{
    width: 300px;
}

.notice-info-head{
    width: 820px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.notice-info-title{
    font-weight: bold;
    font-size: 20px;

}
.notice-info-sort{
    width: 80px;
    height: 30px;
    margin-left: 10px;
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
}