.product{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.product-main{
    display: flex;
    position: sticky;
    flex-direction: row;
    width: 1000px;
    justify-content: center;
    padding: 50px 70px 50px 70px;
    background: #FBF8F3;
}
.product-main-imgBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    background: #F0E9DF;
}
.product-main-imgBox-img{
    height: 270px;
    cursor: zoom-in;
}
.product-main-imgBox-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 900;
}

.product-main-imgBox-popup:target{
    visibility: visible;
    opacity: 1;
}
.product-main-imgBox-popup-box{
    position: fixed;
    width: 80%;
    padding: 10px;
    max-width: 450px;
    height: 470px;
    border-radius: 10px;
    top: 61%;
    left: 35%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .1ms;
    transition: opacity .5s, visibility 0s linear .1ms;
    z-index: 1;
    cursor: zoom-out;

}

.product-main-imgBox-popup-box:target{
    visibility: visible;
    opacity: 1;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.product-main-imgBox-popup-box-img{
    margin-top: 40px;
    height: 370px;
}


.product-main-box{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: flex-start;
    justify-content: flex-start;
}
.product-main-box-category{
    font-size: 17px;
}
.product-main-box-title{
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
    text-align: left;
}
.product-main-box-author{
    font-size: 12px;
    margin-top: 5px;
}
.product-main-box-comment{
    text-align: left;
    font-size: 12px;
    margin-top: 25px;
    height: 70px;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;

}
.product-main-box-price-total{
    font-size: 14px;
    margin-top: 20px;
}

.product-main-box-price{

    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}

.product-main-box-purchase{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 290px;
   padding: 3px 15px 3px 15px;
    height: 50px;
    background: #F0E9DF;
    align-items: center;
    justify-content: center;
}
.product-main-box-purchase-text{
    font-weight: bold;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    text-align: left;
}

.product-main-box-purchase-btn{
    width: 31px;
    height: 31px;
    font-size: 20px;
    background-color: #F8F8F8;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #BBBBBB;
}
.product-main-box-purchase-btnText{
    width: 30px;
    height: 30px;
    font-size: 17px;
    background-color: #F8F8F8;
    font-weight: bold;
    border-radius: 3px;
    padding-top: 3px;

}
.product-main-box-button{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 360px;
}
.product-main-box-button-buy{
    width: 120px;
    height: 35px;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 5px;
    margin-right: 10px;
}
.product-main-box-button-cart{
    width: 120px;
    height: 35px;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 5px;
    margin-right: 10px;
}

.product-main-box-button-popup{
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(0, 0, 0, 0.7);
     transition: opacity 500ms;
     visibility: hidden;
     opacity: 0;
     z-index: 900;
 }
.product-main-box-button-popup:target{
    visibility: visible;
    opacity: 1;
}
.product-main-box-button-popup-box{
    position: fixed;
    width: 60%;
    padding: 10px;
    max-width: 400px;
    height: 200px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .5s;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 1;
    padding-top: 40px;
}
.product-main-box-button-popup-box:target{
    visibility: visible;
    opacity: 1;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.product-main-box-button-popup-box-text{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}
.product-main-box-button-popup-box-btn{
    padding: 7px;
    background: #FBF8F3;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 200;
}
.product-main-box-button-popup-box-btn:hover{
    color: #ee5f6b;
    font-weight: 500;

}

.product-detail{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-top: 100px;
}
.product-detail-sidenav{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product-detail-sidenav-information,.product-detail-sidenav-review,.product-detail-sidenav-qna{
    font-size: 15px;
    margin: 10px;
}
.product-detail-box{
    width: 800px;

}
.product-detail-box-information{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
}
.product-detail-box-information-box{
    margin : 0 0 30px 0;
}
.product-detail-box-information-title{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.breadCrumb {
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 1000px;
    text-align: left;

}

.product-detail-box-summary{
    display: flex;
    flex-direction: row;
    padding: 30px 40px 30px 40px;
    justify-content: space-evenly;

}
.product-detail-box-summary-imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #F0E9DF;
    margin-right: 10px;

}
.product-detail-box-summary-imgBox-img{

    height: 120px;
}
.product-detail-box-summary-info1{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 15px 20px 10px 10px;
 }
.product-detail-box-summary-info2{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 10px 10px;
}
.product-detail-box-summary-info-category{
    font-size: 17px;
    margin-bottom: 5px;
}
.product-detail-box-summary-info-title{
    font-size: 24px;
    margin-bottom: 7px;
    font-weight: bold;
    text-align: left;
}
.product-detail-box-summary-info-sub{
    font-size: 23px;
    color: #585858;
    font-weight: bold;
    margin-left: 15px;
}
.product-detail-box-summary-info-score{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    height: 60px;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    margin-top: 20px;
}
.product-detail-box-summary-info-starImg{
    margin: 10px 0 10px 0 ;
}
.product-detail-box-summary-info-price{
    font-size: 18px;
}

.product-detail-box-review{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 820px;
    padding-top: 10px;
    border-top : 1px solid #BBBBBB;
}
