.bestSellerBox {
    display : flex;
    flex-direction: column;
    align-items: center;
    width : 1100px;
    height: 350px;
    margin: 80px 0 80px 0;
}

.bestSellerTitle {
    font-size: 25px;
    margin-bottom: 50px;
}

.bestSellerBooks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
}

.bestSellerBookItem {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 270px;
    align-items: flex-start;
}

.bestSellerBookItemTitle {
    font-size: 20px;
    color : #2A4478;
}

.bestSellerBookItemSub {
    font-size: 12px;
    text-align: left;
}

.bestSellerBookItemPrice {
    font-size: 13px;
}

.list-product-item-imageBox {
    background-color: #ECEBE8;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}
.list-product-item-imageBox-img{
    height: 150px;
}
