.bestSellerBox {
    display : flex;
    flex-direction: column;
    align-items: center;
    width : 1000px;
    height: 350px;
    margin: 80px 0 80px 0;
}

.bestSellerTitle {
    font-size: 25px;
    margin-bottom: 50px;
}

.bestSellerBooks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
}

.bestSellerBookItem {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 270px;
    align-items: flex-start;
}

.bestSellerBookItemTitle {
    font-size: 18px;
    color : #2A4478;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
    text-align: left;
}

.bestSellerBookItemSub {
    font-size: 12px;
    text-align: left;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
}

.bestSellerBookItemPrice {
    font-size: 15px;
}

.list-product-item-imageBox {
    background-color: #ECEBE8;
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}
.list-product-item-imageBox-img{
    height: 145px;
}
